{{#if (gt languages.length 1)}}
    <div class="alert alert-info">{{t 'app.activity.multilingual'}}</div>
{{/if}}
{{#unless languages.isPending}}
    {{!--
    <ul>
        {{#each languages as |language|}}
            <li>
                <span title="{{language.isoLanguageName}}">
                    {{world-flag language.code1 32}}
                </span>
            </li>
        {{/each}}
    </ul>
    --}}
    {{#each languages as |language|}}
        {{language.isoLanguageName}}, 
    {{/each}}
{{/unless}}
{{yield}}