<div class="newsletter">
  <div class="container d-flex justify-content-center">
    
    {{yield}}
    
    <div class="row">
        <div class="col">

            <h2>{{t 'app.newsletter.title'}}</h2>
            <p>{{t 'app.newsletter.information'}}</p>

            <form>
                <div class="form-row align-items-center">
                    <div class="col">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            {{input class="form-control" id="newsletterEmail" placeholder=(t 'app.newsletter.placeholder')}}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-dark mb-2" {{action ''}}>
                            {{t 'app.newsletter.submit'}}
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

  </div>
</div>