{{!--{{subscribe-newsletter}}--}}

<div class="footer-content">
  <div class="container">

    <div class="row">
      <div class="col">
        <h4>{{t 'app.footer.latest-views'}}</h4>
        {{latest-activities}}
      </div>

      <div class="col">
        <h4>{{t 'app.footer.categories'}}</h4>
        {{activities-categories}}
      </div>
      
      <div class="col">
        
        <h4>{{t 'app.footer.contact'}}</h4>
        <p>{{t 'app.contact.description'}}</p>

        <p class="contact d-flex justify-content-start">
          {{fa-icon 'address-card'}}
          <div>
            {{t 'app.contact.firstname'}} {{t 'app.contact.lastname'}}<br/>
            {{t 'app.contact.street'}} {{t 'app.contact.houseno'}}<br/>
            {{t 'app.contact.zip'}} {{t 'app.contact.city'}}<br/>
            {{t 'app.contact.land'}}
          </div>
        </p>
        <p>
          {{fa-icon 'envelope'}}
          <a href="mailto:{{t 'app.contact.email'}}">{{t 'app.contact.email'}}</a>
        </p>

      </div>
    </div>

    {{yield}}
  </div>
</div>

<div class="footer-bottom">
  <div class="container d-flex justify-content-end">
    
    {{#link-to 'index' class='copyright d-flex mr-auto'}}
      {{t 'app.copyright' year=2018 brand=(t 'app.brand.title')}}
    {{/link-to}}

    <div class="footer-navigation-links d-flex">
      {{#each footerNavigationItems as |item|}}
          {{#link-to item.link}}
              {{t item.title}}
          {{/link-to}}
      {{/each}}
    </div>

  </div>
</div>
