{{#if activities.isPending}}
  {{t 'app.rest.loading.activities'}}
{{else}}

  <div class="row">
    <div class="col">

      {{#if filters}}
        <button class="btn btn-primary" {{action 'toggleFilters' false}}>
          {{t 'app.searchResults.hideAllFilters'}}
        </button>
      {{else}}
        <button class="btn btn-primary" {{action 'toggleFilters' true}}>
          {{t 'app.searchResults.showAllFilters'}}
        </button>
      {{/if}}

      {{#if showAsList}}
        <button class="btn btn-primary" {{action 'showAsList' false}}>
          {{fa-icon 'list'}}
        </button>
      {{else}}
        <button class="btn btn-primary" {{action 'showAsList' true}}>
          {{fa-icon 'columns'}}
        </button>
      {{/if}}

    </div>
  </div>

  {{#if filters}}
    
    <div class="row">
      <div class="col-md-3">
        ...
      </div>
      <div class="col activities-list-items {{if showAsList 'tiles d-flex'}}">
        {{#each activities as |activity|}}
          {{activity-list-item activity=activity showAsList=showAsList}}
        {{/each}}
      </div>
    </div>

  {{else}}

    <div class="row">
      <div class="col activities-list-items {{if showAsList 'tiles d-flex'}}">
        {{#each activities as |activity|}}
          {{activity-list-item activity=activity showAsList=showAsList}}
        {{/each}}
      </div>
    </div>

  {{/if}}

{{/if}}

{{yield}}