{{#if activities.isPending}}
  {{t 'app.rest.loading.activities'}}
{{else}}

  <div class="row">
    <div class="col">

      {{#if filters}}
        <button class="btn btn-primary" {{action 'toggleFilters' false}}>
          {{t 'app.searchResults.hideAllFilters'}}
        </button>
      {{else}}
        <button class="btn btn-primary" {{action 'toggleFilters' true}}>
          {{t 'app.searchResults.showAllFilters'}}
        </button>
      {{/if}}

    </div>
  </div>

  {{#if filters}}

    <div class="row">
      <div class="col-md-3">

        <div class="searchFilters form">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                {{t 'app.searchResults.filter.when.title'}}
              </h5>
              {{date-time-picker options=true action=(action 'updateDateTime')}}
            </div>
          </div>

        </div>

      </div>
      <div class="col activities-list-items">

        {{#each activities as |activity|}}
          {{activity-list-item activity=activity}}
        {{/each}}

      </div>
    </div>

  {{else}}

    <div class="activities-list-items">

      {{#each activities as |activity|}}
        {{activity-list-item activity=activity}}
      {{/each}}

    </div>

  {{/if}}

{{/if}}

{{yield}}