{{#link-to 'activity' (query-params id=activity.id) class="activity d-flex justify-content-start"}}
    <div class="activity-date">
        <div class="activity-date-day">
            {{format-date activity.date day='2-digit'}}
        </div>
        <div class="activity-date-month">
            {{format-date activity.date month='long'}}
        </div>
    </div>
    <div class="activity-image" style="background-image: url({{activity.img}});"></div>
    <div class="activity-information">
        <div class="activity-title">
            {{activity.title}}
        </div>
        <div class="activity-organizer">
            {{activity.organizer}}
        </div>
        <div class="activity-categories">
            {{#if activity.categories.isPending}}
              {{t 'app.rest.loading.categories'}}
            {{else}}
              {{#each activity.categories as |category|}}
                  {{category.id}} - {{category.name}},
              {{/each}}
            {{/if}}
        </div>
    </div>
    {{yield}}
{{/link-to}}