<div class="activity-details">

    <section class="activity-header" style="background-image: url({{model.activity.img}})">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="activity-organizer-logo-section">
                        <img class="activity-organizer-logo" src="https://slucare.edu/style/resources/slucare-preferred-logo.png" alt="" />
                    </div>
                    <div class="activity-title">
                        <h1>{{model.activity.title}}</h1>
                    </div>
                    <div>
                        <div class="activity-date">
                            {{format-date model.activity.date day='2-digit' month='long'}} - {{format-time model.activity.date hour='2-digit' minute='2-digit'}}
                        </div>
                    </div>
                    <div class="activity-categories">
                        {{#if model.activity.categories.isPending}}
                            {{t 'app.rest.loading.categories'}}
                        {{else}}
                            {{#each model.activity.categories as |category|}}
                                <a class="btn btn-primary" {{action 'searchByCategory' category}}>
                                    {{category.name}}
                                </a>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="activity-header-aditional-information">
                        <div class="activity-dayuntildate">
                            <p>{{t 'app.activity.daysUntilDate' days=model.daysUntilDate htmlSafe=true}}</p>
                        </div>
                        <div class="activity-rating">
                            {{fa-icon 'star'}}
                            {{fa-icon 'star'}}
                            {{fa-icon 'star'}}
                            {{fa-icon 'star-o'}}
                            {{fa-icon 'star-o'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-light">
        <div class="container">
            ...
            {{outlet}}
        </div>
    </section>

</div>