{{#top-bar}}
    {{language-chooser}}
    {{log-in}}
{{/top-bar}}

{{header-nav}}

<section class="app-content">
  {{outlet}}
</section>

{{footer-section
  latestActivityViews=model.latestActivityViews
  activitiesCategories=model.activitiesCategories
}}